<div id="nav_wrap">
  <ul id="nav2">
    <li class="<% if @tab_name == 'infiniScroll'%>active<% end %>" id="infiniScroll" >
			<%= link_to('infiniScroll', code_path(1) ) -%>
		</li>
    <li class="<% if @tab_name == 'carl_spackler'%>active<% end %>" id="carl_spackler" >
			<%= link_to('carl_spackler', code_path(2) ) -%>
		</li>
    
  </ul>
</div>