<div id="centercol">
  <% @posts.each do |post| %>
    <h4><%=h post.title %></h4>
    <div>
      by: <%=h post.name %>   
      <i>created <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</i>
    </div> 
    <div><%= post.content.html_safe %></div>
    <hr>
  <% end %>
</div>

<%# link_to 'New post', new_post_path %>