<div id="centercol">
<%= image_tag "about_MarkHolton.png" %>
<section id="about_Mark_Holton">
  <p>I'm a web application developer, building web applications for a living since 2003.</p> 

  <p>I was born just outside of Chicago (Glenview), but now live just outside of Seattle, WA with my wife (and very soon a newborn baby boy, due Jan 1, 2011!).  In my "former life" I was a division I college golfer, High School All American, and Illinois State Champion (1992) in golf.  I have competed in tournaments with Tiger Woods back in my junior and collegiate days.  The same passion that brought me success in competitive golf is with me now with web application development.  So much so that it's tough to squeeze in more than 5 rounds of golf in a year.  While one day I may go back to playing in a couple Amateur tournaments in a summer, it doesn't feel like a sacrifice to not play much golf at present, while building my family, and making time for my passions related to web applications.</p>

  <p>I have a degree in Engineering Physics with a minor in Aeronautics and am currently pursuing a Master of Science in Computer, Information, and Network Security.  I enjoy learning, but don't believe these define me -- they are worth mentioning as they are part of me. Sometimes school helps me complete a learning goal.</p>

  <p>While most of my applications have been "inside the firewall" at companies like AT&T, Boeing, Qwest, I have always been, and probably always will be, attracted to the Open Web and open source. I think it's because it seems like the most engaging work is done in this area as it's driven by a love for writing code more than anything, and most of the time you can find like-minded passionate developers in these pursuits.  For now this includes consuming open source, and staying in touch with developments of the browser, open source, frameworks, a couple languages.  I have recently begun releasing some open source software, and plan to do more of this, as it sharpens my skills and makes me feel more engaged in the community.</p>  

  <p>In 2006 started playing around with Ruby, getting serious about it in 2007. I willingly spend my own money and take paid vacation from work to attend RailsConf in 2008, and again in 2010.  My wife shakes her head at me and in an admiring way laughs "you're the only person I know who can't wait to write code on his day off".</p>

  <p>Ruby and JavaScript are my favorite programming languages, Rails is my favorite framework, and jQuery is my favorite JS library. I enjoy experimenting with other frameworks such as Sinatra, and have used many other JS libraries, especially Prototype.js -- the library which got me started with Ajax development back in late 2005.</p> 

  <p>When not at work, I am sharpening my skills in practices and techniques that I am interested in that are not perhaps utilized or embraced at my 'day job'.  Usually this means building web applications or a community.  I believe it's vital for any developer to continue to push towards new and improved skills.  More importantly I believe it's important for developers to have big dreams, as this pushes us to improve in our craft.</p>

  <p>My ultimate goal is to work with a small number of similarly passionate web application developers, designers, and engineers on interesting and profitable projects.  To work in and help build a culture where developers working together make each other better, and in turn produce inspiring results.  To have no ceiling as to the results that could be achieved from innovatively creating simply effective interfaces, ever evolving code bases, and healthy online communities that help people work and live in the real world.  To do this while maintaining a balanced life with my family and friends.</p>

  <p>This is what my blog and my other sites outside of work are about -- sharpening my skills and building towards these goals. I believe there is "something better" out there, and believe my potential has not yet been tapped -- am working towards the day when I can see the resullts when that potential I feel has been reached.</p>

  <p>Working at it daily, and wishing you good luck in your dreams,</p>
  <p>Mark</p>
</section>
  
  <div class="hresume">
    <div id='nav'>
      <ul>
        <li><a href="#work_history" title="Professional Experience">Professional Experience</a></li>
        <li><a href="#open_source" title="Open Source">Open Source</a></li>
        <li><a href="#skills" title="Skills &amp; Technologies">Skills <abbr class='amp'>&amp;</abbr> Technologies</a></li>
      </ul>

    </div><!-- /NAV -->

    <div id="me" class="vcard">
      <h1 class="fn n" id="ap">
        <a href="http://markholton.com/" class="url" title="Mark Holton">
          <span class="given-name">Mark</span>
          <span class="family-name">Holton</span>
        </a>
      </h1>

      <h2 class="title"><a href="http://github.com/holtonma">Web Application Developer</a></h2>
	    <a href="mailto:holtonma@gmail.com;">holtonma@gmail.com</a>
      <div class="adr">
        <span class="locality">Bothell</span>, 
        <span class="region">WA</span>, 
        <span class="postal-code">98012</span>
      </div>
      <div class="tel"><span class="value">(425) 345-6764</span></div>

      <a href="http://suda.co.uk/projects/X2V/get-vcard.php?uri=http://markholton.com/about" 
         title="Download my vCard into your addressbook" class="download">
        <!--
        <img src="/images/vcard.png" alt="Download my card into your addressbook" class="download" />
        -->
      </a>
    </div><!-- ...VCARD -->

    <div id="work_history">

      <h3>Professional Experience</h3>
      <div class="vcalendar">

        <div class="experience vevent vcard alt">
          <div class="htitle">
            <span class="org">University of Washington</span>
            <span class="title"><a href="">Certificate in Ruby Programming</a></span>
          </div>

          <div class="date_duration">
            <abbr class="dtstart" title="2008-01-31">2007</abbr>
            -
            <abbr class="dtend" title="2008-12-31">2008</abbr>
          </div>
          <ul class="description">
            <li>2007 Ruby Programming Language</li>
            <li>2007 The Rails Framework</li>
            <li>2008 Advanced Topics in Ruby</li>
            <li>2008 Ruby on Rails (retook to focus on TDD)</li>
          </ul>
          <div class="contact">
            Contact :
            <span class="vcard">
              <span>
                <a class="fn email" href="mailto:"></a>
              </span>
            </span>

          </div>
        </div>

        <div class="experience vevent vcard">
          <div class="htitle">
            <span class="org">AT&T</span>
            <span class="title">Principal Technology Security - Developer Team Lead</span>
          </div>

          <div class="date_duration">
            <abbr class="dtstart" title="2007-06-01">2007</abbr>
            -
            <abbr class="dtend" title="2010-10-20">Present</abbr>
          </div>
          <ul class="description">
            <li>Chief Security Office - Identity and Access Management</li>
            <li>Developed and grew production web applications.</li>
            <li>jQuery, Prototype, HTML, XHTML, CSS</li>
            <li>ColdFusion</li>
	        </ul>
          <div class="contact">
            Contact :
            <span class="vcard">
              <span>
                <a class="fn email" href="mailto:holtonma@gmail.com">holtonma@gmail.com</a>
              </span>
            </span>
          </div>
        </div>

        <div class="experience vevent vcard alt">
          <div class="htitle">
            <span class="org">Peak Systems (Peak Internet Inc)</span>
            <span class="title">Developer Team Lead</span>
          </div>
          <div class="date_duration">
            <abbr class="dtstart" title="2006-06-31">June 2006</abbr>
            -
            <abbr class="dtend" title="2007-06-01">June 2007</abbr>
          </div>
          <ul class="description">
            <li></li>
            <li></li>
          </ul>
        </div>

        <div class="experience vevent vcard">
          <div class="htitle">
            <span class="org">The Boeing Company</span>
            <span class="title">Senior Software Engineer</span>
          </div>
          <div class="date_duration">
            <abbr class="dtstart" title="2001-01-31">January 2001</abbr>
            -
            <abbr class="dtend" title="2006-12-31">December 2006</abbr>
          </div>
          <ul class="description">
            <li></li>
          </ul>
        </div>

        <div class="experience vevent vcard">
          <div class="htitle">
            <span class="org">Microvision, Inc.</span>
            <span class="title">Senior Software Engineer</span>
          </div>

          <div class="date_duration">
            <abbr class="dtstart" title="2001-01-31">January 2001</abbr>
            -
            <abbr class="dtend" title="2006-12-31">December 2006</abbr>
          </div>
          <ul class="description">
            <li></li>
          </ul>
          
        </div>

      </div><!-- ...VCALENDAR -->
    </div><!-- ...WORK_HISTORY -->

    <div id="open_source">
      <h3><a href="http://github.com/holtonma">Open Source</a></h3>
      <div class="experience vevent vcard">
        <div class="htitle">

          <span class="org">
            <a href="http://github.com/holtonma" title="EyeOnMajors">EyeOnMajors.com</a>
          </span>
          <span class="title">Primary Developer/Maintainer</span>
        </div>
        <div class="date_duration">
          <abbr class="dtstart" title="2006-01-31">November 2008</abbr>

          -
          <abbr class="dtend" title="2008-12-31">Present</abbr>
        </div>
        <ul class="description">
          <li>Rails 2.3.8</li>
          <li>100% Designed, Developed, Maintained</li>
        </ul>
        <div class="contact">

          Contact :
          <span class="vcard">
            <span>
              <a class="fn email" href="mailto:"></a>
            </span>
          </span>
        </div>
      </div>

      <div class="experience vevent vcard">

        <div class="htitle">
          <span class="org">
            <a href="http://github.com/holtonma/" title="Carl_Spackler: Project Info">Carl Spackler</a>
          </span>
          <span class="title">Primary Developer/Maintainer</span>
        </div>
        <div class="date_duration">
          <abbr class="dtstart" title="2006-01-31">July 2008</abbr>

          -
          <abbr class="dtend" title="2008-12-31">Present</abbr>
        </div>
        <ul class="description">
          <li></li>
          <li></li>
        </ul>
        <div class="contact">
          Contact :
          <span class="vcard">
            <span>
              <a class="fn email" href="mailto:"></a>
            </span>
          </span>
        </div>
      </div>

     </div><!-- ...OPEN_SOURCE -->

    <div id="skills">
      <h3>Skills and Technologies</h3>
      <dl>
        <dt>
          Programming in languages including:
        </dt>
        <dd>
          <a href="http://www.technorati.com/tag/ruby" rel="tag" class="skill">Ruby</a>
        </dd>        
	<dd>
          <a href="http://www.technorati.com/tag/javascript" rel="tag" class="skill">JavaScript</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/rails" rel="tag" class="skill">Rails</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/sql" rel="tag" class="skill">SQL</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/xml" rel="tag" class="skill">XML</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/html" rel="tag" class="skill">HTML</a>
        </dd>
      </dl>

      <dl>
        <dt>
          Using Databases including:
        </dt>
        <dd>
          <a href="http://www.technorati.com/tag/mysql" rel="tag" class="skill">MySQL</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/postgresql" rel="tag" class="skill">PostgreSQL</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/sqlite" rel="tag" class="skill">SQLite</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/sqlserver" rel="tag" class="skill">SQLServer</a>
        </dd>
      </dl>

      <dl>
        <dt>
          Operating Systems/Clouds:
        </dt>
        <dd>
          <a href="http://www.technorati.com/tag/heroku" rel="tag" class="skill">Heroku cloud</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/osx" rel="tag" class="skill">OS X</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/linux" rel="tag" class="skill">Linux</a>
        </dd> 
        <dd>
          <a href="http://www.technorati.com/tag/linux" rel="tag" class="skill">Bash</a>
        </dd>
      </dl>
      <dl>
        <dt>
          Development Tools:
        </dt>
        <dd>
          <a href="http://www.technorati.com/tag/textmate" rel="tag" class="skill">TextMate</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/git" rel="tag" class="skill">Git</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/subversion" rel="tag" class="skill">Subversion</a>
        </dd>
      </dl>
    </div><!-- ...SKILLS SECTION -->

  </div><!-- ...HRESUME -->
</div>