<div class="pics">
  <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->
  <h4>
    <a style="display:block;padding:4px;" title="RedGrind" href="http://redgrind.heroku.com">
      http://redgrind.heroku.com
    </a> 
  </h4>
  <h4>      
    <a style="display:block;padding:4px;" title="EyeOnMajors" href="http://eyeonmajors.com">
      http://eyeonmajors.com
    </a> 
  </h4>      
  <h4>
    <a style="display:block;padding:4px;" title="MarkHolton" href="http://markholton.com">
      http://markholton.com
    </a>
  </h4>       
</div>