<div id="logo">
  <h1><a href="/"><%= image_tag("logo.png", :alt => "MarkHolton.com") %></a></h1>			
  <p id="description">
    <p>
      Hi, I'm <strong>Mark Holton</strong>
      -- a security savvy REST, Ruby, JavaScript, Rails, and Ajax practitioner. 
      I am in the process of earning an M.S. in Computer, Network, and Information Security.  
      <p class="quote"><i>"Focus on the core things that do not change"</i></p>
    </p>
    <%= link_to "Read more...", about_path(), :title => "About Mark Holton"%>
  </p>
</div> <!--/logo-->

