<div id="menu">
  <div id="nav1">
	  <ul>
		  <li class="<% if active == "home"%>current_page_item<% else %>page_item<% end %>">
		    <span><%= link_to "Home", root_path() %></span>
		  </li>
		  <li class="<% if active == "about"%>current_page_item<% else %>page_item<% end %> page-item-12">
		    <span><%= link_to "About", about_index_path() %></span>
		  </li>
		  <li class="<% if active == "portfolios"%>current_page_item<% else %>page_item<% end %> page-item-27">
		    <span><%= link_to "Portfolio", portfolios_path() %></span>
		  </li>
		  <li class="<% if active == "articles"%>current_page_item<% else %>page_item<% end %> page-item-30">
		    <span><%= link_to "Articles", articles_path() %></span>
		  </li>
		</ul>
	</div> <!--/nav1-->
</div><!--menu-->
